<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.caesar.user.mapper.BaseUserMapper">

    <resultMap id="BaseResultMap" type="org.caesar.user.model.po.UserPO">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="avatarUrl" column="avatar_url" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
            <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,
        phone,email,avatar_url,
        create_time,update_time,state,is_delete
    </sql>

    <insert id="insertUser">
        insert into sys_user_base
            (id, username, password, email, avatar_url, create_time, update_time, state)
        VALUES
            (#{id}, #{username}, #{password}, #{email}, #{avatarUrl}, #{createTime}, #{updateTime}, state);
    </insert>

    <select id="selectSimilarUserCount" resultType="java.lang.Integer">
        select count(*)
        from sys_user_base
        where 1 != 1
        <if test="username != null">
            or username = #{username}
        </if>
        <if test="email != null">
            or email = #{email}
        </if>
        <if test="phone != null">
            or phone = #{phone}
        </if>
        <if test="wxid != null">
            or wxid = #{wxid}
        </if>
        <if test="qqid != null">
            or qqid = #{qqid}
        </if>
    </select>

</mapper>
