<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.caesar.user.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="org.caesar.user.model.entity.Menu">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="permKey" column="perm_key" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="component" column="component" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="BIT"/>
    </resultMap>

    <resultMap id="RoleMap" type="org.caesar.user.model.entity.RoleMenu">
        <id property="id" column="id" />
        <id property="permission" column="permission" />
    </resultMap>

    <sql id="Base_Column_List">
        id,`name`,perm_key,
        `path`,component,status
    </sql>

    <insert id="insertUserRole">
        Insert into sys_user_role (user_id, role_id)
        VALUES
        <foreach item="roleId" collection="roleIds" separator=",">
            (#{userId}, #{roleId})
        </foreach>

    </insert>

    <select id="selectPermsByUserId" resultType="String">
        SELECT DISTINCT path
        FROM sys_menu m
        WHERE m.id IN(
            SELECT rm.menu_id
            FROM sys_role_menu rm
            WHERE rm.role_id IN(
                SELECT ur.role_id
                FROM sys_user_role ur
                WHERE ur.user_id = #{userId}
            )
        ) AND m.status = 0

    </select>

    <select id="selectRolesByUserId" resultType="java.lang.Integer">
        SELECT role_id
        FROM sys_user_role
        WHERE user_id = #{userId}
    </select>

    <select id="selectPermsByRoleId" resultType="java.lang.String">
        SELECT DISTINCT path
        FROM sys_menu m
        WHERE m.id IN(
            SELECT menu_id
            FROM sys_role_menu
            WHERE role_id = #{roleId}
        )
    </select>

    <select id="getUpdatedRole" resultType="org.caesar.user.model.entity.RoleMenu">
        SELECT r.id   AS id,
               m.path AS permission
        FROM sys_role r
                 LEFT JOIN sys_role_menu rm ON r.id = rm.role_id
                 LEFT JOIN sys_menu m ON rm.menu_id = m.id
        WHERE r.update_at >= #{updateTime}
    </select>

</mapper>
