<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.caesar.article.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="org.caesar.article.model.po.ArticlePO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="digest" column="digest" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="TINYINT"/>
        <result property="tag" column="tag" jdbcType="VARCHAR"/>
        <result property="tags" column="tags" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="BIGINT"/>
        <result property="createAt" column="create_at" jdbcType="TIMESTAMP"/>
        <result property="updateAt" column="update_at" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,content,digest,
        type,tags,create_by,create_at,
        update_at,is_delete
    </sql>

    <insert id="markArticle">
        INSERT INTO article_ops
            (user_id, article_id, mark)
        VALUES (#{userId}, #{articleId}, #{mark})
        ON DUPLICATE KEY UPDATE mark = #{mark};
    </insert>

    <insert id="addViewHistory">
        INSERT INTO article_view
            (user_id, article_id, view_at)
        VALUES (#{userId}, #{articleId}, #{viewAt})
        ON DUPLICATE KEY UPDATE view_at = #{viewAt}
    </insert>

    <update id="favorArticle">
        INSERT INTO article_ops
            (user_id, article_id, favored)
        VALUES (#{userId}, #{articleId}, #{favored})
        ON DUPLICATE KEY UPDATE favored = #{favored};
    </update>

    <delete id="deleteArticleOps">
        DELETE
        FROM article_ops
        WHERE article_id = #{articleId}
    </delete>

    <delete id="deleteViewHistory">
        DELETE FROM article_view
        WHERE user_id IN
        <foreach item="userId" collection="userIds" separator="," open="(" close=")">
            #{userId}
        </foreach>
        AND view_at &lt; ALL (
            SELECT view_at
            FROM article_view
            WHERE user_id IN
            <foreach item="userId" collection="userIds" separator="," open="(" close=")">
                #{userId}
            </foreach>
            ORDER BY view_at DESC
            LIMIT #{historyCount}
        )
    </delete>

    <select id="getArticleHistory" resultType="org.caesar.article.model.entity.ArticleHistory">
        SELECT id, title, digest, view_at viewAt, create_by
        FROM article
                 JOIN article_view
                      ON article.id = #{articleId}
                          AND article_view.article_id = #{articleId}
                          AND article_view.user_id = #{userId}
                          AND article.is_delete = 0
        ORDER BY view_at, id DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="hasDiffArticleMark" resultType="java.lang.Boolean">
        SELECT COUNT(*)
        FROM article_ops
        WHERE article_id = #{articleId}
          AND user_id = #{userId}
          AND mark != #{mark}
    </select>

    <select id="hasDiffArticleFavor" resultType="java.lang.Boolean">
        SELECT COUNT(*)
        FROM article_ops
        WHERE article_id = #{articleId}
          AND user_id = #{userId}
          AND favored!= #{favored}
    </select>

    <select id="getArticleOps" resultType="org.caesar.article.model.entity.ArticleOps">
        SELECT mark, favored
        FROM article_ops
        WHERE article_id = #{articleId}
            AND user_id = #{userId}
    </select>

    <select id="getUpdatedArticle" resultType="org.caesar.article.model.po.ArticlePO">
        SELECT id, title, content, digest, tag, update_at, is_delete
        FROM article
        WHERE update_at > #{updateAt}
    </select>

    <select id="getArticleMin" resultType="org.caesar.article.model.po.ArticlePO">
        SELECT id, title, digest, update_at
        FROM article
        WHERE is_delete = 0
        AND id IN
        <foreach item="id" collection="articleIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="getTopUsersByHistoryCount" resultType="java.lang.Long">
        SELECT user_id
        FROM (SELECT user_id, COUNT(*) AS history_count
              FROM article_view
              GROUP BY user_id
              HAVING history_count > #{historyCount}) as uivc
    </select>

    <select id="getRecentPreferArticle" resultType="org.caesar.article.model.po.ArticlePO">
        SELECT id, title, digest, tag
        FROM article
        WHERE id IN (SELECT t.article_id FROM
                            (SELECT article_id
                     FROM article_ops
                     WHERE user_id = #{userId}
                       AND (favored = 1
                         OR mark = 1)
                     ORDER BY article_ops.update_at DESC
                     LIMIT #{size}) AS t)
    </select>

    <select id="getRecentViewedArticle" resultType="org.caesar.article.model.po.ArticlePO">
        SELECT id, title, digest, tag
        FROM article
        WHERE id IN (SELECT t.article_id FROM
                            (SELECT article_id
                             FROM article_view
                             WHERE user_id = #{userId}
                             ORDER BY article_view.view_at DESC
                             LIMIT #{size}) AS t)
    </select>

    <select id="getRandPreferArticle" resultType="org.caesar.article.model.po.ArticlePO">
        SELECT id, title, digest, tag
        FROM article
        WHERE id IN (SELECT t.article_id FROM
                            (SELECT article_id
                             FROM article_ops
                             WHERE user_id = #{userId}
                               AND (favored = 1
                                 OR mark = 1)
                             ORDER BY RAND()
                             LIMIT #{size}) AS t)
    </select>

    <select id="getUniqueArticle" resultType="java.lang.Long">
        SELECT article_id
        FROM article_view
        WHERE user_id = #{userId}
        AND article_id NOT IN
        <foreach collection="articleIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>
